body{
margin:0;
background:black;
color:white;
font-family:Arial;
overflow-x:hidden;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:black;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
}

section{
padding:80px 20px;
text-align:center;
}

.sun{
width:300px;
height:300px;
margin:auto;
border-radius:50%;
background:radial-gradient(circle,#ff8c00,#ff4500,#000);
animation:sunPulse 6s infinite;
}

@keyframes sunPulse{
0%{transform:scale(1)}
50%{transform:scale(1.2)}
100%{transform:scale(1)}
}

input{
padding:10px;
width:260px;
margin:10px;
border:none;
border-radius:5px;
}

button{
padding:10px 20px;
background:#ff6a00;
border:none;
color:white;
cursor:pointer;
}

#robot3d{
height:400px;
}

canvas{
max-width:600px;
margin:auto;
}